@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;700&display=swap');

* {
  font-family: 'Saira Condensed', sans-serif;
}

:root {
  font-family: 'Saira Condensed', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


